<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd    
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd    
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd  
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
>


	<bean id="jedisTestService" class="com.java.service.JedisTestService"></bean>

	<context:property-placeholder location="classpath:jedis.properties" />


	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig" >
		<property name="maxTotal" value="1" />
		<property name="minIdle" value="1" />
	</bean>

	<bean id="jedisPool" class="redis.clients.jedis.JedisPool" >
		<constructor-arg index="0" ref="jedisPoolConfig" />
		<constructor-arg index="1"  value="${standardalone.host}" />
		<constructor-arg index="2" value="${standardalone.port}" />
		<constructor-arg index="3" value="${standardalone.timeout}" />
		<constructor-arg index="4" value="${standardalone.password}" />
	</bean>


	<bean id="readJedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig" >
		<property name="maxTotal" value="1" />
		<property name="minIdle" value="1" />
	</bean>


	<bean id="commonJedisManager" class="com.dragsun.jedis.manager.CommonJedisManager">
		<property name="masterPoolConfig" ref="jedisPoolConfig" />
		<property name="jedisPool" ref="jedisPool" />
	</bean>


</beans>
	