<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd    
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd    
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd  
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
>



	<!-- websocket 配置-->

	<!-- 请求处理器 -->
	<bean id="chatTopicHandler" class="com.java.core.netty.websocket.common.topics.ChatTopicHandler"  >
	</bean>
	<bean id="chatOnlineListTopicHandler" class="com.java.core.netty.websocket.common.topics.ChatOnlineListTopicHandler"  >
	</bean>



	<bean id="indexTopicHandler" class="com.java.core.netty.websocket.common.topics.IndexTopicHandler"  >
	</bean>
	<bean id="newsTopicHandler" class="com.java.core.netty.websocket.common.topics.NewsTopicHandler"  >
	</bean>
	<bean id="locationTopicHandler" class="com.java.core.netty.websocket.common.topics.LocationTopicHandler"  >
	</bean>
	<bean id="stockInfoTopicHandler" class="com.java.core.netty.websocket.common.topics.StockInfoTopicHandler"  >
	</bean>


	<bean id="frameHandlerAdapter" class="com.java.core.netty.websocket.common.FrameHandlerAdapter"  >
	</bean>
	<bean id="locationHandlerAdapter" class="com.java.core.netty.websocket.common.LocationHandlerAdapter"  >
	</bean>
	<bean id="chatHandlerAdapter" class="com.java.core.netty.websocket.chat.ChatHandlerAdapter"  >
	</bean>
	<bean id="chatOnlineListHandlerAdapter" class="com.java.core.netty.websocket.chat.ChatOnlineListHandlerAdapter"  >
	</bean>



	<!-- 测试类 -->
	<bean id="webSocketTestService" class="com.java.service.WebSocketTestService"  >
	</bean>



</beans>
	